@media all and (max-width: 1020px)
    header
        box-shadow: 0 0 7px 0 rgba(79, 86, 93, 0.2)
    nav
        padding: 10px 0

    .block_right > div
        margin-left: 20px

    .nav_links
        display: none

    #navbar > a
        margin-left: auto
        
    .card_item
        flex-basis: 48%

    .well
        padding: 50px

    .whywe_offer_block
        .whywe_item
            flex-basis: 50%
    
    .jumbotron
        padding: 1rem

    h2
        margin: 100px 0

    .header_misc
        display: block

@media all and (max-width: 720px)
    .container
         max-width: 100% !important

    h2
        font-size: 24px
        margin: 50px 0

    h3
        font-size: 2rem

    .operator_item
        flex-basis: 25%

    .section
        padding: 40px 0

    .vendor_logo
        width: 120px
        height: 120px
        bottom: -60px
        left: calc(50% - 60px)
        img
            max-width: 60px
            max-height: 60px

@media all and (max-width: 570px)
    .wrapper_main
        padding-top: 50px

    nav
        justify-content: space-between

    .well
        padding: 50px 20px

        p
            text-align: justify

    .jumbotron
        h2
            max-width: 100%
            text-align: center

    h3
        font-size: 1.6rem

    .menu_toggler
        display: block

    .nav_links
        flex-direction: column
        > a,
        li:last-child
            display: block        
    
    footer.navbar
        .flex-col
            flex-direction: column-reverse

    .social_block
        flex-direction: column
        margin-bottom: 30px
        p
            margin-bottom: 20px

        .social_links
            li:first-child
                margin-left: 0

    .block_right
        margin-left: 0
        .phone
            margin-left: 0
        .mk_button,
        .phone_num
            display: none

    .logo_link
        margin-right: 0
        margin-top: 0

    .operator_grid_container
        justify-content: space-around

    .header_misc
        display: block
        position: absolute
        left: 0
        top: 0
        margin-top: 50px
        transform: translateY(-200%)
        opacity: 0
        &.open
            transform: translateY(0)
            opacity: 1
        &.fixed
            top: -150%
            &.open
                top: 0
                opacity: 1
        &:after
            content: ''
            display: table
            clear: both
        ul li:last-child
            display: block

    .card_item
        flex-basis: 100%

    .whywe_offer_block
        .whywe_item
            flex-basis: 100%

    .service_item
        margin: 0 5px

        