@media all and (max-width: 1020px)
    header
        box-shadow: 0 0 7px 0 rgba(79, 86, 93, 0.2)       

    nav
        padding: 10px 0

    .block_right > div
        margin-left: 20px

    .nav_links
        display: none

    #navbar > a
        margin-left: auto

    .header_misc
        display: block
        ul
            list-style: none
            width: 100%

@media all and (max-width: 720px)
    .container
         max-width: 100% !important

    .jumbotron
        padding: 80px 0

    h2
        font-size: 24px

    .operator_item
        flex-basis: 25%

@media all and (max-width: 570px)
    .well
        padding: 50px 20px

        p
            text-align: justify

    .jumbotron
        h2
            max-width: 100%
            text-align: center

    footer.navbar
        .flex-col
            flex-direction: column-reverse

    .social_block
        flex-direction: column
        margin-bottom: 30px
        p
            margin-bottom: 20px

        .social_links
            li:first-child
                margin-left: 0

        