.mk_button
    background-color: $primary-color
    padding: 6px 35px
    font-size: 14px
    font-weight: 500
    color: #fff !important
    &:hover
        color: #fff
        background-color: darken($primary-color, 5%)

.large
    text-transform: uppercase
    padding: 10px 70px