h1,
h2,
h3,
h4,
h5,
h6
    color: $heading-color
    text-align: center

h2
    font-size: 40px 
    font-weight: bold
    text-align: left
    max-width: 70%

    span
        color: $primary-color

h3
    margin-bottom: 45px