@import "1-base/vars"
*,
*:before,
*:after
  box-sizing: border-box
  
body,
html
  font-family: 'Roboto', Arial, Helvetica, sans-serif
  font-size: 16px
  background: $bg-color
  position: relative

.section
  padding: 80px 0

ul
  list-style: none
  padding-left: 0
  margin-bottom: 0

a,
a:active,
a:focus
  outline: none
